{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <section class="custom-password-reset-from-key-done mt-5">
      <div class="container">
        <div class="d-flex justify-content-center">
          <div id="password-reset-from-key-done" class="">
            <h1 class="mb-2 mb-sm-3 text-secondary">{% trans "Change Password" %}</h1>
            <p class="text-success">{% trans 'Your password is now changed.' %}</p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
