{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<section class="custom-password-reset mt-5">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div id="password-reset-form">
        <h1 class="text-secondary">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="text-secondary">{% trans "Forgotten your password ?" %}</p>
        <p class="text-info">{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset mt-5">
          {% for error in form.email.errors %}
          <small class="text-danger">{{error}}</small>
          {% endfor %}
          <div class="form-group">
            {% csrf_token %}
            <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
            <input name="{{form.email.name}}" class="form-control form-control-sm {% if form.email.errors %}is-invalid{% endif %}" size="30" placeholder="{{form.email.label}}" id="{{form.email.id_for_label}}" type="email">
          </div>
          <input type="submit" class="btn btn-info btn-sm" value="{% trans 'Reset My Password' %}" />
        </form>

        <p class="text-secondary mt-2"><small>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</small></p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
