{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<section class="custom-password-change mt-5">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div id="password-change-form">
        {% if messages %}
          {% for message in messages %}
            <h2{% if message.tags %} class="text-{{ message.tags }}"{% endif %}>{{ message }}</h2>
          {% endfor %}

        {% else %}
        <h1 class="mb-4 mb-sm-5 text-secondary">{% trans "Change Password" %}</h1>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change mt-3">
            {% csrf_token %}
              {% for error in form.oldpassword.errors %}
              <small class="text-danger">{{error}}</small>
              {% endfor %}
            <div class="form-group {% if form.oldpassword.errors %}mb-1{% endif %}">
              <label for="{{change_password_form.oldpassword.id_for_label}}"><small>Old Password</small></label>
              <div class="input-group input-group-sm">
                <input type="password" id="{{form.oldpassword.id_for_label}}" name="{{form.oldpassword.name}}" class="form-control {% if form.oldpassword.errors %}is-invalid{% endif %}" placeholder="{{form.oldpassword.label}}">
              </div>
            </div>
            {% for error in form.password1.errors %}
            <small class="text-danger">{{error}}</small>
            {% endfor %}
            <div class="form-group {% if form.password1.errors %}mb-1{% endif %}">
              <div class="input-group input-group-sm">
                <input type="password" id="{{form.password1.id_for_label}}" name="{{form.password1.name}}" class="form-control {% if form.password1.errors %}is-invalid{% endif %}" placeholder="{{form.password1.label}}">
              </div>
            </div>
            {% for error in form.password2.errors %}
            <small class="text-danger">{{error}}</small>
            {% endfor %}
            <div class="form-group">
              <div class="input-group input-group-sm">
                <input type="password" id="{{form.password2.id_for_label}}" name="{{form.password2.name}}" class="form-control {% if form.password2.errors %}is-invalid{% endif %}" placeholder="{{form.password2.label}}">
              </div>
            </div>
            <input type="submit" class="btn btn-success btn-sm" name="change_password" value="Change">
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
